/* A werc-inspired theme. */
/* http://werc.cat-v.org/ */

body {
    color: black;
    background-color: white;
    font-family: Helvetica, Verdana, Arial, 'Liberation Sans', FreeSans, sans-serif;
    font-size: 84%;
    margin: 0;
    padding: 0;
}

a:link, a:visited {
    text-decoration: none;
    color: rgb(0,102,204);
}

h1.posttitle {
    color: rgb(0,102,204);
    background-color: transparent;
    font-size: 145.5%;
    font-weight: bold;
    margin: 2em 0 0 0;
    padding: 0.5ex 0 0.5ex 0.6ex;
    border-bottom: 2px solid rgb(0,102,204);
}

.contents {
    margin: 1em 1ex 1em 1ex !important;
    padding: 0;
}

#header {
    color: rgb(39,78,144);
    background-color: rgb(180,225,255);
    border: solid 0 black;
    border-width: 2px 0;
}

#header h1 {
    color: black;
    font-size: 233%;
    font-weight: normal;
    margin: 0 0 0 4mm;
    padding: 0.25ex 0;
}

#header h1 a {
    color: black;
}

#header h1 .headersub {
    font-size: 50%;
    font-style: italic;
    margin-left: 1em;
}

#sidebar {
    width: 16em;
    float: left;
    clear: left;
    border-right: 1px solid #ddd;
}

#sidebar ul {
    list-style-type: none;
    list-style-position: outside;
    margin: 0;
    padding: 0 0 0.3em 0;
}

#sidebar li {
    margin: 0;
    padding: 0.1ex 0;
}

#sidebar .date {
    font-style: italic;
    font-size: 0.8em;
}

#sidebar a {
    background-color: transparent;
    margin: 0;
    padding: 0.25em 1ex 0.25em 2mm;
    display: inline-block;
    text-transform: capitalize;
    font-weight: bold !important;
    font-size: 102%;
    border-left: white solid 0.2em;
}

#postblock {
    max-width: 70em;
    color: black;
    background-color: transparent;
    text-align: justify;
    line-height: 1.5em;
    margin: 0em 0 0 16em;
    padding: 0.5mm 5mm 5mm 5mm;
    border-left: 1px solid #ddd;
}

#postnav {
    display: block;
}

#prev { float: left; }
#next { float: right; }

#footer {
    color: white;
    background-color: rgb(100,135,220);
    padding: 1em;
    clear: both;
}

#footer a {
    color: white;
}

footer a:hover {
    text-decoration: underline;
}
